##############################
### Jess's .gitingnore file. #
##############################

##############################
# Java                       #
# Common files generated when#
# compiling Java code.       #
##############################
*.class
